<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sistem Pembelian Barang</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <style>

  </style>
</head>
<body class="bg-violet-950">
  <div id="app" class="container mx-auto mt-8 p-4">
    <div class="flex flex-col place-items-stretch">
      <div>
        <div class="flex items-center">
          <h2 class="text-white uppercase text-xs font-extralight tracking-spasijauh">
            my marketplace
            <a class = "hover:bg-blue-500 hover:text-blue-900 bg-white w-100 px-3 rounded-lg text-blue-800" href="index.html"><span>Back To Home</span></a>
          </h2>
        </div>
        <h3 class="text-2xl font-sans tracking-spasijauh text-blue-800 bg-white px-4 py-1 mt-2 rounded">Jersey Shop</h3>
        <br>
      </div>
    </div>
    <div class="grid grid-cols-3 gap-1">
      <div v-for="(item, index) in items" :key="index" class="text-center">
        <img @click="showImage(item)" :src="item.image" class="cursor-pointer mb-2 mx-auto" alt="Item">
        <p class="font-semibold text-white bg-violet-900 rounded-lg">{{ item.name }}</p>
        <p class="font-mono text-white">Rp {{ item.price }}</p>
        <button @click="addItem(index)" class="bg-white text-blue-600 px-4 py-1 mt-2 rounded" v-if="!item.purchased">Beli</button>
        <button class="bg-gray-400 text-white px-4 py-1 mt-2 rounded" v-else disabled>Telah Dibeli</button>
      </div>      
    
      <div class="mt-4">
        <h2 class="text-lg font-semibold text-white">Total Pembelian:</h2>
        <p class="text-white">Rp {{ total }}</p>
        <h2 class="text-lg font-semibold text-white">Item yang Dibeli:</h2>
        <div v-if="selectedItems.length > 0">
          <table class="border-collapse border-2 border-white mt-4">
            <thead>
              <tr>
                <th class="border border-white text-white p-2">Nama Item</th>
                <th class="border border-white text-white p-2">Harga</th>
                <th class="border border-white text-white p-2">Jumlah</th>
                <th class="border border-white text-white p-2">Aksi</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in selectedItems" :key="index">
                <td class="border border-white text-white p-2">{{ item.name }}</td>
                <td class="border border-white text-white p-2">Rp {{ item.price }}</td>
                <td class="border border-white p-2">
                  <input v-model="item.quantity" type="number" class="w-16 p-2 border border-gray-300 rounded" @input="calculateTotal" />
                </td>
                <td class="border border-white p-2">
                  <button @click="removeItem(index)" class="remove-button">Hapus</button>
                  <button @click="editItem(index)" class="edit-button">Edit</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div v-if="showEditModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-75">
          <div class="bg-white p-4 rounded shadow-lg">
            <h2 class="text-xl font-semibold mb-4">Edit Jumlah Item</h2>
            <input v-model="editedItemQuantity" type="number" class="w-full p-2 border border-gray-300 rounded mb-2" placeholder="Jumlah Baru">
            <div class="text-right">
              <button @click="cancelEdit" class="bg-gray-400 text-white px-4 py-2 rounded mr-2">Batal</button>
              <button @click="saveEdit" class="bg-blue-600 text-white px-4 py-2 rounded">Simpan</button>
            </div>
          </div>
        </div>
        <br>
        <button @click="saveOrder" class="bg-blue-600 text-white px-4 py-1 mt-2 rounded">Simpan Pesanan</button>
        
        <!-- Popup Pesan -->
        <div v-if="showSuccessPopup" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-75">
          <div class="bg-white p-4 rounded shadow-lg text-center">
            <h2 class="text-xl font-semibold mb-4">Pesanan Anda telah disimpan</h2>
            <p>Terima kasih telah berbelanja.</p>
            <button @click="hideSuccessPopup" class="bg-blue-600 text-white px-4 py-2 rounded mt-4">Tutup</button>
          </div>
        </div>
        <!-- /Popup Pesan -->
      </div>

      <div v-if="showItemImage" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-75">
        <div class="max-w-3/4">
          <img :src="showItemImage" class="mx-auto" @click="showImage(null)" alt="Item">
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: {
        items: [
          { name: 'Manchester United (home kit)', price: 1000, image: 'https://images.footballfanatics.com/manchester-united/manchester-united-adidas-home-shirt-2023-24_ss5_p-//images.footballfanatics.com/manchester-united/manchester-united-adidas-home-shirt-2023-24_ss5_p-13384987+u-maqghunllnf49d60lev2+v-dknuadglihvbhgyevpq4.jpg?_hv=2&w=150+u-maqghunllnf49d60lev2+v-dknuadglihvbhgyevpq4.jpg?_hv=2&w=150', quantity: 0, canBuy: true, purchased: false },
          { name: 'Indonesia (home kit)', price: 2000, image: 'https://lzd-img-global.slatic.net/g/p/b6eacde66afafb2ce528f51977a20c8d.jpg_150x150q80.jpg_.webp', quantity: 0, canBuy: true, purchased: false },
          { name: 'Indonesia (third kit)', price: 1500, image: 'https://lzd-img-global.slatic.net/g/p/32be53111466bbd62c20d824bdd60b06.jpg_150x150q80.jpg_.webp', quantity: 0, canBuy: true, purchased: false },
          { name: 'Manchester United (third kit)', price: 2500, image: 'https://images.footballfanatics.com/manchester-united/manchester-united-adidas-third-shirt-2023-24_ss5_p-13384975+u-eykanbxlgkfmzfw9wvfp+v-gatiowyxusvh7oa2wimp.jpg?_hv=2&w=150', quantity: 0, canBuy: true, purchased: false },
          { name: 'Liverpool (home kit)', price: 1800, image: 'https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjDKB9TSM4nJXJLzh3ncsj0ZI5Nsi0hBiGlCa97blQEV93Ji45ZmaNlrnOP9S0c9fScluV4766_Nk8KAhnl_7VBHdmHtDQvkZ56qx2YY3a8j1ft9LujmaRIq0guuGfHAj-V3CeWmpESJcBR4XCPYg_QJen63nOGJ8uuNi12EskBsB9LaAL0duTiCRVV/s150/liverpool-23-24-home-kit%20(1).jpg', quantity: 0, canBuy: true, purchased: false },
          { name: 'Real Madrid (home kit)', price: 3000, image: 'https://uk.shop.realmadrid.com/cdn/shop/products/RMCFMZ0127_01_150x150.jpg?v=1685530063', quantity: 0, canBuy: true, purchased: false }
        ],
        selectedItems: [],
        showItemImage: null,
        showEditModal: false,
        editedItemIndex: null,
        editedItemQuantity: 0,
        showSuccessPopup: false, // Menambahkan data untuk popup pesan
      },
      computed: {
        total: function() {
          return this.selectedItems.reduce((total, item) => total + (item.price * item.quantity), 0);
        },
      },
      methods: {
        addItem: function(index) {
          const selectedItem = { ...this.items[index] };
          selectedItem.quantity = 1;
          selectedItem.purchased = true;
          this.selectedItems.push(selectedItem);

          this.items[index].canBuy = false;
        },
        editItem: function(index) {
          this.editedItemIndex = index;
          this.editedItemQuantity = this.selectedItems[index].quantity;
          this.showEditModal = true;
        },
        cancelEdit: function() {
          this.showEditModal = false;
        },
        saveEdit: function() {
          const newQuantity = parseInt(this.editedItemQuantity);
          if (!isNaN(newQuantity) && newQuantity >= 0) {
            this.selectedItems[this.editedItemIndex].quantity = newQuantity;
            this.showEditModal = false;
            this.calculateTotal();
          } else {
            alert('Jumlah item harus berupa angka positif.');
          }
        },
        removeItem: function(index) {
          this.selectedItems.splice(index, 1);
          this.calculateTotal();
        },
        showImage: function(item) {
          if (item) {
            this.showItemImage = item.image;
          } else {
            this.showItemImage = null;
          }
        },
        saveOrder: function() {
          console.log('Menyimpan pesanan:', this.selectedItems);
          this.selectedItems = [];
          this.calculateTotal();
          this.showSuccessPopup = true; // Menampilkan popup pesan
        },
        hideSuccessPopup: function() {
          this.showSuccessPopup = false; // Menyembunyikan popup pesan
        },
        calculateTotal: function() {
          this.total = this.selectedItems.reduce((total, item) => total + (item.price * item.quantity), 0);
        },
      },
    });
  </script>
</body>
</html>
